{%extends "base.html"%}
{%load static%}

    {%block css_files%}
        <link rel="stylesheet" href="{%static "challenges/challenges.css"%}">
        <link rel="stylesheet" href="{%static "challenges/includes/header.css"%}">
    {%endblock%}
    {%block page_title%}
        All Challenges
    {%endblock%}

    {%block content%}
    {%include "challenges/include/header.html"%}
    <ul>
        {%for month in months%}
        {% comment %} <li> <a href="/challenges/{{month}}">{{month|title}}</a></li> {% endcomment %}
        <li> <a href="{%url "month-challenge" month %}">{{month|title}}</a></li>
        
        {% endfor %}
    </ul>
    {%endblock%}