<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles</title>
</head>
<body>
    <ul>
        {% for profile in profiles %}
            <li>
                {% comment %} use image.url not image.path which gives full path {% endcomment %}
                <img src="{{profile.image.url}}" height="20%" width="20%">
            </li>
        {% endfor %}
    </ul>
</body>
</html>