{%extends "reviews/base.html"%}

{% block title %}Review in Detail{% endblock title %}

{% block content %}
    <h1>{{review.user_name}}</h1>
    <h2> Rating: {{review.rating}}</h2>
    <p> Comment:{{review.review_text}}</p>

    {% if is_favourite %}
        This is my favourite!
    {% else %}
        <form action="/reviews/favourite" method="POST">
        {% csrf_token %}
        <input type="hidden" name="review_id" value="{{review.id}}">
        <button> Favourite </button>
    </form>
    {% endif %}
    
{% endblock content %}