{%extends "reviews/base.html"%}
{% load static %}
{% block title %}
  Your Review
{% endblock title %}
{%block content%}
    <form action="/" method="POST">
        {%csrf_token%}
        {% comment %} {% if has_error %}
         <p> Please give a valid input</p>
        {% endif %} {% endcomment %}
        {% comment %} <label for="username">Your Name</label>
        <input id="username" name="username" type="text"> {% endcomment %}
        {% comment %} {{form}} {% endcomment %}
        
        {% for field in form %}
          <div class="form-control {%if field.errors%}errors{%endif%}">
          {{field.label_tag}}
          {{field}}
          {{field.errors}}
        </div>
        {% endfor %}
        <button type="submit"> Send </button>
    </form>
{%endblock content%}